@*--------------------------------------------------------------------------------------------------
// (С) 2017-2025 ООО УралТехИС. Интеллектуальная Системная Платформа 3.0. Все права защищены.
// Описание: HomePage – Страница по умолчанию. Открывается при старте приложения.
//------------------------------------------------------------------------------------------------*@
<h1>Начало работы с конфигуратором системной платформы.</h1>

@code {
    [CascadingParameter]
    PageContainer? _parent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (_parent != null)
            await _parent.SetTitleAsync("Начало работы");
    }

    public static TabPageItem Default => new TabPageItem
    {
            Name = "Начало работы",
            Icon = "i-home.webp",
            Type = typeof(HomePage)

    };
}
