<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <RadzenTheme Theme="material" @rendermode="InteractiveAuto" />
    <link rel="stylesheet" href="styles/utis.css" />
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
    <script src="scripts/utis.js?@(typeof(UtisApp).Assembly.GetName().Version)"></script>
    <script src="scripts/babylon.js"></script>
    <script src="scripts/babylonInterop.js?@(typeof(UtisApp).Assembly.GetName().Version)" type="module"></script>
    <HeadOutlet />
</head>

<body>
    <UtisRoutes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
