
.icon-msg:before { content: '\23'; } /* '#' */
.icon-location:before { content: '\2a'; } /* '*' */
.icon-toggle-off:before { content: '\30'; } /* '0' */
.icon-toggle-on:before { content: '\31'; } /* '1' */
.icon-prev:before { content: '\3c'; } /* '&lt;' */
.icon-next:before { content: '\3e'; } /* '&gt;' */
.icon-user:before { content: '\3f'; } /* '?' */
.icon-virtual:before { content: '\40'; } /* '@' */
.icon-asc:before { content: '\41'; } /* 'A' */
.icon-clear:before { content: '\43'; } /* 'C' */
.icon-down:before { content: '\44'; } /* 'D' */
.icon-ellipsis:before { content: '\45'; } /* 'E' */
.icon-level:before { content: '\48'; } /* 'H' */
.icon-find:before { content: '\49'; } /* 'I' */
.icon-left:before { content: '\4c'; } /* 'L' */
.icon-mark:before { content: '\4d'; } /* 'M' */
.icon-logout:before { content: '\4f'; } /* 'O' */
.icon-pers:before { content: '\50'; } /* 'P' */
.icon-desc:before { content: '\51'; } /* 'Q' */
.icon-right:before { content: '\52'; } /* 'R' */
.icon-sets:before { content: '\53'; } /* 'S' */
.icon-trans:before { content: '\54'; } /* 'T' */
.icon-up:before { content: '\55'; } /* 'U' */
.icon-wait:before { content: '\57'; } /* 'W' */
.icon-device:before { content: '\58'; } /* 'X' */
.icon-area:before { content: '\5a'; } /* 'Z' */
.icon-adleft:before { content: '\61'; } /* 'a' */
.icon-aup:before { content: '\63'; } /* 'c' */
.icon-adup:before { content: '\64'; } /* 'd' */
.icon-addown:before { content: '\66'; } /* 'f' */
.icon-pin:before { content: '\70'; } /* 'p' */
.icon-adright:before { content: '\73'; } /* 's' */
.icon-adown:before { content: '\76'; } /* 'v' */
.icon-aright:before { content: '\78'; } /* 'x' */
.icon-aleft:before { content: '\7a'; } /* 'z' */
.icon-refresh:before { content: '\e04f'; } /* '' */
.icon-bell-on:before { content: '\e800'; } /* '' */
.icon-bell-off:before { content: '\f1f7'; } /* '' */